<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tictactoe</title>
  <%= include_gon %>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">


  <%= yield %>

  <a href="/newgame">Start Over?</a>
  <p>You're X.. the computer is O<br>The game selects randomly who starts<br>You might tie... but you will not ever beat the computer</p>
  <% if !@gameover %>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="script.js"></script>
  <% end %>
</div>
</body>
</html>