@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat:700');

* {
  box-sizing: border-box;
  font-family: 'Cutive Mono';
  color: #3d3937;
}

body {
  background: url('geometry.png');
}

.container {
  text-align: center;
}

.gameboard {
  width: 400px;
  height: 400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background: url('gameboard.svg');
  background-size: 400px;
  background-position: center;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: inline;
}

.square {
  font-family: "Montserrat";
  font-size: 52px;
  display: flex;
  flex: 1;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2em;
}

a {
  font-size: 2em;
  text-decoration: none;
  font-weight: 700;
  color:#B74848;
}